.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-image {
  width: 50px; /* Adjust the width as needed */
  height: auto;
}
